# Prerequisites
*.d

# Fortran module files
*.mod
*.smod

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Temporary and binary files
*~
*.py[cod]
*.cfg
!.isort.cfg
!setup.cfg
*.orig
*.log
*.pot
*/__pycache__/*
.cache/*
.*.swp
*/.ipynb_checkpoints/*
.DS_Store

# Package files
*.egg
*.eggs/
python/.installed.cfg
*.egg-info

# Unittest and coverage
python/htmlcov/*
python/.coverage
python/.coverage.*
python/.tox
python/junit*.xml
python/coverage.xml
python/.pytest_cache/

# Build and docs folder/files
gh-pages/
docs/c_api
docs/fortran_api
docs/python_api
python/dist/*
python/docs/_build/*
python/cover/*
python/MANIFEST

# Per-project virtualenvs
python/.venv*/
python/.conda*/
python/.python-version
